html, body {
    height: 100%;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#outer-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    /*border: 2px solid grey;*/
    margin-top: 35px;
}


#inner-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid grey;
    width: 40%;
}

.colored-box {
    margin: 10px;
    height: 45%;
    width: 45%;
    border: 1px solid grey;
}

#red {
    background-color: #ff0000;
}

#blue {
    background-color: #0000ff;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: #00ff00;
}
#font{
    text-align: center;
    padding-top: 30px;
    font-family: 'Black Han Sans', sans-serif;
}
.bnt{
margin-left: 30%;
}